@model League.Data.Entities.Staff

<div class="custom-header">
    <h1 style="margin-bottom:10px">Delete Staff</h1>
    <h3>Are you sure you want to delete this?</h3>
</div>


<div>
    <hr />
    <br />

    <partial name="_StaffsDD" />

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="button-24" /> |
        @if (User.IsInRole("ClubRepresentant"))
        {
            <a asp-action="Manage" class="button-Back">Back to List</a>
        }
        else
        {
            <a asp-action="Index" class="button-Back">Back to List</a>
        }
    </form>
</div>
