@model League.Data.Entities.Staff

<div class="custom-header-crud">
    <h1>Details</h1>
</div>

<hr />
<br />

<partial name="_StaffsDD"/>

<div>
    <a asp-action="Index" class="button-Back">Back to List</a>
</div>
