@model League.Data.Entities.Game

@{
    ViewData["Title"] = "Create";
}

<h1>Add New Game</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="gameForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <partial name="_GamesCE" />

            <div class="form-group">
                <input type="submit" value="Create" class="button-Edit" /> | 
                <a asp-action="Index" class="button-Back">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
