@model League.Data.Entities.Game

<div class="custom-header-crud">
    <h1>New Game</h1>
</div>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="gameForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <partial name="_GamesCE" />

            <div class="form-group">
                <input type="submit" value="Create" class="button-Edit" /> | 
                <a asp-action="Index" class="button-Back">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
