@model League.Data.Entities.Game

@{
    ViewData["Title"] = "Game Details";
}

<h1>Game Details</h1>

<partial name="_GamesDD" />

<div>
    <a asp-action="Delete" asp-route-id="@Model?.Id" class="button-24" role="button">Delete</a> |
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="button-Edit" role="button">Edit</a> |
    <a asp-action="Index" class="button-Back" role="button">Back to List</a>
</div>
