@model League.Data.Entities.Game

<div class="custom-header-crud">
    <h1>Edit Game</h1>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" id="gameForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <partial name="_GamesCE" />

            <div class="form-group">
                <input type="submit" value="Save" class="button-Edit" />
                <a asp-action="Index" class="button-Back">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
