@model League.Data.Entities.Game

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Game</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="GameDate" class="control-label"></label>
                <input asp-for="GameDate" class="form-control" />
                <span asp-validation-for="GameDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VisitedClubId" class="control-label">Home Club</label>
                <select asp-for="VisitedClubId" class="form-control" asp-items="ViewBag.Clubs">
                    <option value="">Select a Club....</option>
                </select>
                <span asp-validation-for="VisitedClubId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VisitorClubId" class="control-label">Away Club</label>
                <select asp-for="VisitorClubId" class="form-control" asp-items="ViewBag.Clubs">
                    <option value="">Select a Club....</option>
                </select>
                <span asp-validation-for="VisitorClubId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VisitedGoals" class="control-label"></label>
                <input asp-for="VisitedGoals" class="form-control" />
                <span asp-validation-for="VisitedGoals" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VisitorGoals" class="control-label"></label>
                <input asp-for="VisitorGoals" class="form-control" />
                <span asp-validation-for="VisitorGoals" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VisitedAssignedCards" class="control-label"></label>
                <input asp-for="VisitedAssignedCards" class="form-control" />
                <span asp-validation-for="VisitedAssignedCards" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VisitorAssignedCards" class="control-label"></label>
                <input asp-for="VisitorAssignedCards" class="form-control" />
                <span asp-validation-for="VisitorAssignedCards" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
