@model League.Models.ChangePasswordViewModel

<div class="custom-header">
    <h1>Change Password</h1>
</div>

<div class="custom-container">
    <br />
    <div class="row">
        <div class="col-md-4 offset-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly"></div>

                <div class="form-group-profile text-login">
                    <label asp-for="OldPassword"><b>Current Password</b></label>
                    <div class="input-group">
                        <input asp-for="OldPassword" type="password" class="form-control" id="oldPasswordInput" />
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-secondary" onclick="toggleOldPassword()"><i class="fa-regular fa-eye"></i></button>
                        </div>
                    </div>
                    <span asp-validation-for="OldPassword" class="text-warning"></span>
                </div>

                <div class="form-group-profile text-login">
                    <label asp-for="NewPassword"><b>New Password</b></label>
                    <div class="input-group">
                        <input asp-for="NewPassword" type="password" class="form-control" id="newPasswordInput" />
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-secondary" onclick="toggleNewPassword()"><i class="fa-regular fa-eye"></i></button>
                        </div>
                    </div>
                    <span asp-validation-for="NewPassword" class="text-warning"></span>
                </div>

                <div class="form-group-profile text-login">
                    <label asp-for="Confirm"><b>Confirm New Password</b></label>
                    <div class="input-group">
                        <input asp-for="Confirm" type="password" class="form-control" id="confirmPasswordInput" />
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-secondary" onclick="toggleconfirmPassword()"><i class="fa-regular fa-eye"></i></button>
                        </div>
                    </div>
                    <span asp-validation-for="Confirm" class="text-warning"></span>
                </div>


                <div class="form-group">
                    <input type="submit" value="Change password" class="button-Edit" /> |
                    <a asp-action="Profile" class="button-Back">Back to User</a>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


    <script>
        function toggleOldPassword() {
            var input = document.getElementById('oldPasswordInput');
            if (input.type === "password") {
                input.type = "text";
            } else {
                input.type = "password";
            }
        }

        function toggleNewPassword() {
            var input = document.getElementById('newPasswordInput');
            if (input.type === "password") {
                input.type = "text";
            } else {
                input.type = "password";
            }
        }

        function toggleconfirmPassword() {
            var input = document.getElementById('confirmPasswordInput');
            if (input.type === "password") {
                input.type = "text";
            } else {
                input.type = "password";
            }
        }
    </script>
}

