@model League.Data.Entities.User

<div class="custom-header">
    <h1>Profile</h1>
</div>

<div class="custom-container">
    <br />
    <div class="row">
        <div class="col-md-8">
            <div class="form-group-profile">
                <label>Name</label>
                <input class="form-control" value="@Model.FullName" readonly />
            </div>

            <div class="form-group-profile">
                <label>Email</label>
                <input class="form-control" value="@Model.Email" readonly />
            </div>

            <div class="form-group-profile">
                <label>Phone Number</label>
                <input class="form-control" value="@Model.PhoneNumber" readonly />
            </div>

        </div>

        <div class="col-md-4">
            <img src="@Model.ImageFullPath" alt="Profile Image" style="max-width: 250px; max-height: 250px; border-radius: 70%; margin-left:100px" />
        </div>
    </div>
</div>
<br />
<br />

<div class="form-group">
    <a asp-action="UserList" class="button-Back"><i class="fa fa-chevron-left"></i> Back to List</a>
</div>