@model League.Models.RecoverPasswordViewModel

<div class="custom-header">
    <h1>Recover Password</h1>
</div>

<div class="custom-container">
    <br />
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly"></div>

                <div class="form-group-profile text-login">
                    <label asp-for="Email"><b>Email Address</b></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-warning"></span>
                </div>

                <br />

                <div class="form-group">
                    <input type="submit" value="RecoverPassword" class="button-Forgot" /> |
                    <a asp-action="Login" class="button-Back">Back to Login</a>
                </div>
            </form>
            <div class="text-success">
                <p>
                    @ViewBag.Message
                </p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
