@model League.Models.RegisterGuestViewModel

<div class="custom-header">
    <h1>Register</h1>
</div>

<div class="custom-container">
    <br/>

    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly"></div>

                <div class="form-group-profile text-login">
                    <label asp-for="FirstName"><b>First Name</b></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-warning"></span>
                </div>

                <div class="form-group-profile text-login">
                    <label asp-for="LastName"><b>Last Name</b></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-warning"></span>
                </div>

                <div class="form-group-profile text-login">
                    <label asp-for="Username"><b>Username</b></label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-warning"></span>
                </div>

                <div class="form-group-profile text-login">
                    <label asp-for="PhoneNumber"><b>Phone Number</b></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-warning"></span>
                </div>

                <div class="form-group-profile text-login">
                    <label asp-for="Password"><b>Password</b></label>
                    <div class="input-group">
                        <input asp-for="Password" type="password" class="form-control" id="passwordInput" />
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-secondary" onclick="togglePassword()"><i class="fa-regular fa-eye"></i></button>
                        </div>
                    </div>
                    <span asp-validation-for="Password" class="text-warning"></span>
                </div>

                <div class="form-group-profile text-login">
                    <label asp-for="Confirm"><b>Confirm Password</b></label>
                    <div class="input-group">
                        <input asp-for="Confirm" type="password" class="form-control" id="confirmPasswordInput" />
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-secondary" onclick="toggleconfirmPassword()"><i class="fa-regular fa-eye"></i></button>
                        </div>
                    </div>
                    <span asp-validation-for="Confirm" class="text-warning"></span>
                </div>

                <div class="form-group-profile text-login">
                    <label asp-for="ImageFile" class="control-label"><b>Profile Image</b></label>
                    <input asp-for="ImageFile" class="form-control" type="file" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
                
                <div class="form-group-profile">
                    <input type="submit" value="Register" class="button-Back" />
                </div>
                <div class="text-success">
                    <p>
                        @ViewBag.Message
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="text-success">
    <p>
        @ViewBag.Message
    </p>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        function togglePassword() {
            var passwordInput = document.getElementById('passwordInput');
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
            } else {
                passwordInput.type = 'password';
            }
        }

        function toggleconfirmPassword() {
            var passwordInput = document.getElementById('confirmPasswordInput');
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
            } else {
                passwordInput.type = 'password';
            }
        }
    </script>
}

