<div class="custom-header">
    <h1>About</h1>
</div>

<div class="custom-container-about">
    <br />
    <div class="info-container">
        <img src="~/images/logo.png" alt="NOS League" class="logo-image-big" />
        <div class="contact-info">
            <p>
                <strong>Author: </strong>Rafael Ferreira
            </p>
            <p>
                <strong>ASP.NET Core Web App </strong>
            </p>
            <p>
                <strong>V: 1.0.0</strong> 
            </p>
            
        </div>
    </div>
</div>
