<div class="custom-header">
    <h1>Contact</h1>
</div>

<div class="custom-container">
    <br />
    <div class="info-container">
        <img src="~/images/logo.png" alt="NOS League" class="logo-image-big" />
        <div class="contact-info">
            <p>
                <strong>Address:</strong> Rua Jau
            </p>
            <p>
                <strong>Phone:</strong> 123456789
            </p>
            <p>
                <strong>Email:</strong> nosleague@yopmail.com
            </p>
        </div>
    </div>

    
</div>
