<div class="custom-header">
    <h1>Terms of Use</h1>
</div>

<div class="custom-container">
    <br />
    <div class="row">
        <p><strong>Last Updated: 10/09/24</strong></p>
        <p>These Website Terms and Conditions of Use (the “Terms of Use”) apply to the NOS League website located at https://nosleague.azurewebsites.net and all associated NOS League sites of our subsidiaries and affiliates (collectively, the “Site”). The Site is the property of NOS League, LLC, a New Hampshire Limited Liability Company (“NOS League”). Please read these Terms of Use carefully.</p>

        <p><strong>BY ACCESSING THIS SITE, YOU ACCEPT, WITHOUT LIMITATION OR QUALIFICATION, THESE TERMS OF USE, WHICH FORM A LEGALLY BINDING AGREEMENT. PLEASE NOTE THESE TERMS CONTAIN DISCLAIMERS AND LIMITATIONS OF LIABILITY, AS WELL AS A BINDING ARBITRATION CLAUSE AND CLASS ACTION WAIVER FOR US RESIDENTS. IF YOU DO NOT AGREE WITH THESE TERMS OF USE, PLEASE DO NOT USE THE SITE.</strong></p>

        <p>The Site is intended to be used solely by individuals over the age of 18.</p>

        <h2>OWNERSHIP OF CONTENT</h2>
        <p>Unless otherwise indicated, this Site and its design, text, content, selection and arrangement of elements, organization, graphics, and the design, compilation, and other matters related to this Site (collectively, "Content") are protected under applicable intellectual property and other laws, including, without limitation, those of the United States and Canada. All Content and intellectual property rights herein are the property of NOS League or the material is included with the permission of the rights owner and is protected pursuant to applicable copyright and trademark laws.</p>

        <h2>TRADEMARKS</h2>
        <p>The NOS League logo and all page headers, custom graphics, button icons, trademarks, service marks, and logos appearing on this Site, unless otherwise noted, are service marks, trademarks (whether registered or not), and/or trade dress of NOS League (the "Marks"). You are not authorized to display or use the Marks in any manner without the express prior written consent of NOS League.</p>

        <h2>PRIVACY POLICY</h2>
        <p>By agreeing to these Terms of Use, you agree to the terms of our Privacy Policy, which is located at www.NOSLeague.com/privacy-policy and is incorporated herein by reference. Before using this Site, please read through the Terms of Use and Privacy Policy carefully.</p>

        <h2>ADDITIONAL TERMS, CONDITIONS, AND AGREEMENTS</h2>
        <p>We may require you to follow additional rules, guidelines, or other terms and conditions in order to use various features of our Site, to participate in certain promotions or activities available through our Site, or for other reasons. In such cases, you may be asked to expressly consent to these additional terms and conditions, for example, by checking a box or clicking on a button marked "I agree."</p>

        <h2>SITE SUBMISSIONS</h2>
        <p>You may choose to submit information to NOS League through our Site for various reasons, such as to become a NOS League member, make a purchase, or apply for NOS League employment opportunities. By submitting information to NOS League, you are authorizing us to utilize this information for the purpose for which it was submitted and for such other purposes as set out in our Privacy Policy.</p>

        <h2>ADVERTISING AND LINKS</h2>
        <p>With our prior written consent, you may create hyperlinks directly to the home page of this Site, provided that: (i) the hyperlink accurately describes the content as it appears on the Site; (ii) each page within our Site is displayed in full, without any accompanying frame, border, margin, design, branding, trademark, advertising, or promotional materials not originally displayed on the applicable page within our Site; and (iii) you do not represent in any way, expressly or by implication, that you have received the endorsement, sponsorship, or support of this Site, NOS League, or its agents.</p>

        <h2>TERMINATION</h2>
        <p>NOS League reserves the right to immediately terminate your use of, or access to, this Site at any time for any reason in its sole discretion. NOS League further reserves the right to modify or discontinue this Site or any portion thereof at any time without notice.</p>

        <h2>INDEMNIFICATION</h2>
        <p>You agree to indemnify and hold harmless NOS League, its affiliates, and their respective officers, directors, employees, agents, licensors, representatives, and third-party providers to the Site from and against any claims, losses, damages, liabilities, including legal fees and expenses, arising out of or related to: (i) your use or misuse of the Site or the Content; (ii) any violation of these Terms of Use; (iii) any breach of the representations, warranties, and covenants made by you herein; and (iv) your content.</p>

        <h2>DISCLAIMER OF WARRANTY</h2>
        <p>THIS SITE, INCLUDING, WITHOUT LIMITATION, ALL CONTENT, SOFTWARE, AND FUNCTIONS MADE AVAILABLE ON OR ACCESSED THROUGH OR SENT FROM THE SITE, ARE PROVIDED "AS IS," "AS AVAILABLE," AND "WITH ALL FAULTS." TO THE FULLEST EXTENT PERMISSIBLE BY LAW, NOS LEAGUE AND ITS PARENTS, SUBSIDIARIES, AND AFFILIATES MAKE NO REPRESENTATION OR WARRANTIES OR ENDORSEMENTS OF ANY KIND WHATSOEVER (EXPRESS OR IMPLIED) ABOUT THE SITE.</p>

        <h2>LIMITATION OF LIABILITY</h2>
        <p>UNDER NO CIRCUMSTANCES SHALL NOS LEAGUE BE LIABLE TO YOU OR ANY THIRD PARTY FOR DAMAGES OF ANY KIND, INCLUDING, BUT NOT LIMITED TO, ANY DIRECT, INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL, EXEMPLARY, OR PUNITIVE DAMAGES ARISING FROM OR DIRECTLY OR INDIRECTLY RELATED TO THE USE OF, OR THE INABILITY TO USE, THE SITE OR THE CONTENT.</p>
    </div>
</div>
<br/>