@model League.Data.Entities.Player

<div class="custom-header-crud">
    <h1>Details</h1>
</div>

<hr/>
<br />

 <partial name="_PlayersDD" />

<div>
    <a asp-action="Index" class="button-Back">Back to List</a>
</div>