@model League.Models.PlayerViewModel

<div class="custom-header-crud">
    <h1>Edit Player</h1>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ImageId" />

            <partial name="_PlayersCE" />

            <div class="form-group">
                <input type="submit" value="Save" class="button-Edit" /> |
                @if (User.IsInRole("ClubRepresentant"))
                {
                    <a asp-action="Manage" class="button-Back">Back to List</a>
                }
                else
                {
                    <a asp-action="Index" class="button-Back">Back to List</a>
                }
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <img src="@Url.Content(Model.ImageFullPath)" alt="Image" class="cruds-images">
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
